@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}


/* header*/
    .sale-banner {
      background-color: rgb(255, 71, 71);
      color: white;
      text-align: center;
      padding: 10px 0;
      font-weight: bold;
      font-size: 12px;
    }

  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      border-bottom: 3px solid rgb(255, 71, 71);

    }

    .logo {
      font-size: 26px;
      font-weight: bold;
    }

    .nav-links a {
      text-decoration: none;
      color: black;
      margin-left: 25px;
      font-size: 16px;
      transition: color 0.3s ease;
    }

    .nav-links a:hover {
      color: rgb(255, 71, 71);
    }

    .shop-btn {
      background-color:  rgb(255, 71, 71);
      color: white !important;
      padding: 6px 14px;
      border-radius: 4px;
    }





footer {
  background: #db4444;
  color: #fff;
  padding: 40px 0;
  margin-top: 260px;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  text-align: left;
  padding: 0 20px;
}

.footer-col h4 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
  margin: 4px 0;
}

.container{
    margin-top: 40px;
    border: 1px solid black;
    width: 100%;
    width: 350px;
    margin-right: 1100px;
}

.container hr{
    width: 300px;
}

.forms-container{
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
  margin-left: 560px;
  margin-top: -300px;
}



.input-row {
  display: flex;
  gap: 10px; /* space between inputs */
  margin-bottom: 10px;
}

.input-row input {
  flex: 1; /* all equal width */
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
}

.message-row textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

button {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e63e3e;
}

/* responsive for smaller screens */
@media (max-width: 768px) {
  .input-row {
    flex-direction: column;
  }
}
