*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}
.headers{
    padding-top: 10px;
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 41, 41);
}

.headers p{
    text-align: center;
    color: rgb(234, 234, 234);
}
.headers a{
    color: white;
    margin-top: -13px;
}

.navbar{
    width: 80%;
    height: 70px;
    /* border: 1px solid black; */
    margin: auto;
    display: flex;
    gap: 20px;
}
.navbar h1{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: black;
}
.carousel-item img{
    height: 600px;
    object-fit: cover;
}
.button{
    color: white;
    background-color: red;
    width: 70px;
    border-style: none;
    border-style: initial;
}
#log_out_Butt{
    color: white;
    background-color: red;
    width: 70px;
    border-style: none;
    border-style: initial;  
}